doctype html
html
  head
    title!= title
    link(rel="stylesheet" , href="static/css/common.css")
  body
    header.app-header header
    .app-body
      .left
        select
          each book, i in books
            option(value=i) Book #{book}
        a.manage-student(href='/student.html') 学生管理
        a.manage-student(href='/teacher.html') 教师管理
      .right
        table
          thead
            tr
              th 学号
              th 姓名
              th 年龄
          tbody
            each student,i in studentList
              tr
                td #{student.id}
                td #{student.name}
                td #{student.age}
    footer.app-footer footer